[Unit]
Description=Matrix Synapse server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/vagrant/synapse
ExecStart=/home/vagrant/synapse/bin/python -m synapse.app.homeserver --config-path=/home/vagrant/synapse/homeserver.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target

